.box{
  width: 100%;
  height: inherit;
  display:flex;
}


.contain{
  width:100%;
  height:750px;
  background-image: url('../assets/img/group.jpeg');
  background-size:cover; 
  display:flex;
  flex-direction: column;
}

.box-flex{
  display: flex;
  flex-direction: row;
  height: 900px;
}

.outside{
  height:100%;
  width:100%;
  margin:auto;
  overflow:hidden
  ;display:flex;
  flex: 1;
}

.in{
  width:100%;
  background:rgba(156, 156, 156, 0.356);
  /* margin: 1px; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inner-text{
  font-size: 13px;
  text-align: center;
  width: 100%;
  color: rgb(59, 59, 59);
  flex: 1;

}

.inner-text h1{
  font-weight: 700;
}

.inner-text h2{
  font-weight: 300;
}

.btn-border{
  border: 1px solid rgba(0, 0, 0, 0.329);
  border-radius: 20px;
  padding: 5px 20px;
  background: rgba(255, 255, 255, 0.575);
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 700;
  transition: 0.3s;
  outline: none;
}

.btn-border:hover{
  border: 1px solid rgba(49, 49, 49, 0.329);
  background: rgb(65, 65, 65);
  color: rgb(255, 255, 255); 
}

.btn-box{
  flex: 1;
}

.box1{
  flex: 1;
}

@media(max-width:1300px){
  .box-flex{
    flex-direction: column; 
    height: 900px
  }
  .inner-text{
    font-size: 10px;
    margin: 17px 0px;
  }
  .box1{
    display:none;
  }
}