nav.navbar.navbar-expand-lg.navbar-light.bg-clear {
  text-transform: capitalize;

  a.navbar-brand {
    color: rgb(83, 83, 83) !important;
    font-size: 30px;
    letter-spacing: -2px;
    text-transform: uppercase;
}

a.navbar-brand:hover{
  color: rgb(0, 0, 0);
}

  a#link {
    color: rgb(83, 83, 83) !important;
    text-transform: none;
    text-decoration: underline;
  }

  a.navbar-light .navbar-nav .nav-link{
    color: red !important;
  }
}


.nav-link.navbar-block{
  border: 1px solid #ffffff;
  border-radius: 20px;
  box-shadow:5px 8px 6px 1px #92929231;
  transition-timing-function: linear;
  transition: 0.2s;

  a{
    padding: 5px 30px;
  }
  
}
a.nav-link.navbar-block:hover {
  color: rgb(68, 68, 68) !important;
  font-weight: 500;
  box-shadow:5px 8px 6px 1px #929292a8;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-clear{
  background: #ffffff
}
